{% extends "index-admin.html" %}

{% block content %} 
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">INSCRIPCIÓN DE INTEGRANTE A UN SEMILLERO DE INVESTIGACIÓN</h4>
              <p class="card-description">
               
              </p>
    
              <form method="POST" class="forms-sample">
                {% csrf_token %} 
                {% for form in forms %}
                <div class="form-group">
                  <label for="exampleInputName1"> </label>
                   {{ form }}
                </div>
                {% endfor %}


                <div class="card-body">
                  <h4 class="card-title">Idioma</h4>
                  <p class="card-description">
                    
                  </p>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Lengua</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Nivel</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>

                  <h4 class="card-title">INFORMACIÓN ACADÉMICA DEL ESTUDIANTE </h4>
                  <p class="card-description">
                    
                  </p>

                  <div class="form-group">
                    <label for="exampleInputUsername1">PROGRAMA</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">AÑO INGRESO</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">SEMESTRE ACTUAL si es estudiante</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">FECHA DE GRADO si es egresado:</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                 
                  <h4 class="card-title">INFORMACIÓN ACADÉMICA DEL ESTUDIANTE </h4>
                  <p class="card-description">
                    
                  </p>
                  <div class="form-group">
                    <label for="exampleInputEmail1">CORREO ELECTRÓNICO</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">EN CASO DE EMERGENCIA LLAMAR A</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>

                  <h4 class="card-title">Idiomas</h4>
                  <p class="card-description">
                    Basic form layout
                  </p>

                  <div class="form-group">
                    <label for="exampleInputUsername1">LENGUA</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">NIVEL</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>

                  <h4 class="card-title">Informacion Academica Del Docente Coordinador Del Semillero</h4>
                  <p class="card-description">
                    Basic form layout
                  </p>

                  <div class="form-group">
                    <label for="exampleInputUsername1">PREGRADO</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">POSGRADOS</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                  </div>
          
                  <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                      Remember me
                    </label>
                  </div>

                </div>

                <button type="submit" class="btn btn-primary me-2">Crear Solicitud</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
            href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
          BootstrapDash.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
          reserved.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
{% endblock %}
